/* ==========================================================================
Grid
========================================================================== */

	// Specify the number of columns and set column and gutter widths
	@columns: 12;
	@column-width: 60;
	@gutter-width: 20;

	// Uncomment the definition below for a percentage-based layout
	@total-width: 100%;
	
/* ==========================================================================
Quick Reset
========================================================================== */

	body, h1, h2, h3, h4, h5, h6, p, ul, li, ol, form, small, label, cite, td, br,a {padding:0;margin:0;font-weight:normal;list-style:none; border:none;}
	// apply a natural box layout model to all elements 
	*, *:before, *:after {
	    .border-box;
    }

/* ==========================================================================
Variables 
========================================================================== */

	// Color variables
	@darkblue: #333e48;
	@green: #D0DBA9;
    @grey:#efeff0;

	@yellow: #DFDF5B;
	@olive: #8FC07A;
	@pink: #C86FA6;
	@aqua: #0D9CB0;
	@purple: #7173B6;
	@mustard: #E1A037;
	@royal: #2164AF;
	@sharpgreen: #46B870;
	@rust: #A85239;
	@gold: #9C7D3E;
	@orange: #E86924;
	@cyan: #50C7E2;
	@violet: #8858A4;
	@silver: #5F6C86;
	@darkgreen: #2C8058;

/* ==========================================================================
Typography
========================================================================== */	
	
	/* Headings */
	h1 {
		margin-top:10px !important;
		margin-bottom:20px !important;
		color:@green;
		font-size:60px;
		.ronda;
		letter-spacing:5px;
	}

    h2 {.p18; .medium; text-transform:uppercase;}   
    h3 {.p14; text-transform:uppercase;.medium;}

	/* Fonts */
    .book{font-family:'freight-sans-pro', Arial, sans-serif; font-weight:400; letter-spacing:2px;}
    .medium {font-family:'freight-sans-pro', Arial, sans-serif; font-weight:500; letter-spacing:2px;}
    .ronda{font-family:'ITCRonda',Arial, Helvetica, sans-serif; font-weight:bold;}  
    .ronda-regular{font-family:'ITCRonda',Arial, Helvetica, sans-serif;}

	
	/* Paragraph */
    .p10 {margin-bottom: 10px; font-size:10px; }
    .p12 {margin-bottom: 10px; font-size:12px; }
    .p14 {margin-bottom: 10px; font-size:14px; }
    .p16 {margin-bottom: 10px; font-size:16px; }
    .p18 {margin-bottom: 10px; font-size:18px; }
    .p20 {margin-bottom: 10px; font-size:20px; }
    .p26 {margin-bottom: 10px; font-size:26px; }
    .p72 {margin-bottom: 10px; font-size:72px; }

    p {.book; .p16; color:@darkblue;letter-spacing:0px;}
    /* Links and button */
    a {
        color:@darkblue; 
        text-decoration: none;
        .medium;
        letter-spacing: 0; 
    }

    .btn{
        background-color:@darkblue; 
        .border-radius(20px);
        padding:10px 20px; 
        color:#fff;
        .book; 
        .p14; 
        text-transform:uppercase; 
        display:block; 
        margin:0 auto; 
        text-align:center;
        border: 0;
        &:hover{
        	text-decoration: none;
        }
        &.inline{
            display: inline-block;
        }
    }

/* ==========================================================================
Mixin
========================================================================== */
// Clearfix: contain floats
    .clearfix {
        *zoom: 1;
        &:before, &:after {
            content: " ";
            display: table;
        }
        &:after {
            clear: both;
        } 
    }

// border box
    .border-box {
        box-sizing:border-box;
        -webkit-box-sizing:border-box;
        -moz-box-sizing:border-box;
        -o-box-sizing:border-box;
        -ms-box-sizing:border-box;
    }   

// border radius 
    .border-radius(@radius: 5px) {
        -moz-border-radius: @radius; /* Firefox */  
        -webkit-border-radius: @radius; /* Safari, Chrome */  
        border-radius: @radius; /* CSS3 */
        behavior: url(PIE.htc);     
    }   

	.pad{
		padding: 15px;
	}

    .fr{float: right; width:49%;}
    .fl{float: left; width:49%;}

    .circle{
    	.border-radius(50%); 
    	width: 10px; 
    	height: 10px; 
    	display: inline-block; 
    	margin-right: 10px;
    }

    //Problems
    .yellow{background: @yellow; fill: @yellow;}
	.olive{background: @olive; fill: @olive;}
	.pink{background: @pink; fill: @pink;}
	.aqua{background: @aqua; fill: @aqua;}
	.purple{background: @purple; fill: @purple;}
	.mustard{background: @mustard; fill: @mustard;}
	.royal{background: @royal; fill: @royal;}
	.green{background: @sharpgreen; fill: @sharpgreen;}
	.rust{background: @rust; fill:@rust;}
	.gold{background: @gold; fill:@gold;}
	.orange{background: @orange; fill:@orange;}
	.cyan{background: @cyan; fill:@cyan;}
	.violet{background: @violet; fill:@violet;}
	.silver{background: @silver; fill:@silver;}
	.darkgreen{background: @darkgreen; fill:@darkgreen;}

	//ROI
	.channel{background:#C6D6A6; fill:#C6D6A6; color:#C6D6A6;}
	.website{background:#DDD69B; fill:#DDD69B;}
	.market{background:#B3B0C4; fill:#B3B0C4;}
	.conversion{background:#BADBE5; fill:#BADBE5;}
	.attribution{background:#9AB8D5; fill:#9AB8D5;}
	.database{background:#F4D5AF; fill:#F4D5AF;}
	.modelling{background:#E9BDD0; fill:#E9BDD0;}
	.personalisation{background:#84A7B0; fill:#84A7B0;}

	.counting{background:@purple; fill:@purple;}
	.measuring{background:@mustard; fill:@mustard;}


/* ==========================================================================
General 
========================================================================== */
