/* ==========================================================================
Visible/hidden classes
========================================================================== */

@-ms-viewport {
    width: device-width;
}
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
    display: none !important;
}

@media only screen and (max-width : 1200px) {
    .visible-lg {
        display: block !important;
    }
    table.visible-lg {
        display: table;
    }
    tr.visible-lg {
        display: table-row !important;
    }
    th.visible-lg,
    td.visible-lg {
        display: table-cell !important;
    }
}

@media only screen and (max-width : 992px) {
    .visible-md {
        display: block !important;
    }
    table.visible-md {
        display: table;
    }
    tr.visible-md {
        display: table-row !important;
    }
    th.visible-md,
    td.visible-md {
        display: table-cell !important;
    }
}

@media only screen and (max-width : 768px) {
    .visible-sm {
        display: block !important;
    }
    table.visible-sm {
        display: table;
    }
    tr.visible-sm {
        display: table-row !important;
    }
    th.visible-sm,
    td.visible-sm {
        display: table-cell !important;
    }
}
@media only screen and (max-width : 480px) {
    .visible-xs {
        display: block !important;
    }
    table.visible-xs {
        display: table;
    }
    tr.visible-xs {
        display: table-row !important;
    }
    th.visible-xs,
    td.visible-xs {
        display: table-cell !important;
    }
}

@media only screen and (max-width : 1200px) {
    .hidden-lg {
        display: none !important;
    }
}

@media only screen and (max-width : 992px) {
    .hidden-md {
        display: none !important;
    }
}

@media only screen and (max-width : 768px) {
    .hidden-sm {
        display: none !important;
    }
}

@media only screen and (max-width : 480px) {
    .hidden-xs {
        display: none !important;
    }
}

/* ==========================================================================
Large
========================================================================== */

@media only screen and (max-width : 1200px) {
}

/* ==========================================================================
Medium
========================================================================== */

@media only screen and (max-width : 992px) {
    .center{
        padding-left:10px;
        padding-right:10px;
    } 
    #branding {
        .row(12); 
        background-color: #fff; 
        height: 95px; 
        position: fixed; 
        z-index: 1001; 
        top:0;
        section.mobile-menu{
            .column(4,12); 
            text-align:left;
                //mobile menu css       
                #menu-icon {.book;background:url(../images/menu_icon.png) no-repeat right 10px;cursor: pointer;display: block;height: 30px;line-height: 30px;width: 70px;position: absolute;top: 40px;right: 19px;
                        &:hover{background-position: right -20px;}
                }
                /* nav-wrap */
                #nav-wrap {position: absolute;background: @grey;width: 31%;top: 80px;right: 28px;margin-bottom: 15px;}
                .menu-main-container{position: relative; right:0; padding: 5px 0; display: none; margin:0 10px;}
                .menu-main-container ul li{color:@darkblue; line-height: 35px;border-bottom:1px solid @green;}
                .menu-main-container ul li:last-child{border:none;}
                .menu-main-container ul li a{color:@darkblue; padding:3px 5px;}
                .menu-main-container ul li a:hover{text-decoration:none;}
                .menu-main-container .current-page-ancestor > a, 
                .menu-main-container .current_page_parent a, 
                .menu-main-container .current-menu-item a, 
                .menu-main-container .current_page_ancestor a {color:@darkblue;}
                .menu-left-menu-container {border-bottom:1px solid @green;}
        }
        section.logo{.column(8,12);text-align:left;}
    }      
}

/* ==========================================================================
Small
========================================================================== */

@media only screen and (max-width : 768px) {
    .challenges article{
        .column(12);
    }
    section.cta ul li{
        .column(3);
        &.btn-holder{
            .column(6);
        }
        .btn{.p14;}
    }
    /* footer */            
    #footer-container {
        section#footer-top {
            ul { padding: 0px 0px; }
        }
        section#footer-bottom { .row(12); padding:30px 0;
            ul {padding: 20px 0px;
                li{.column(3,12);}                      
            }
        }
    }
}

/* ==========================================================================
Extra Small
========================================================================== */
@media only screen and (max-width : 480px) {
    .entry-header h1{
        font-size: 56px;
        line-height: 1.2;
    }

    /* footer */            
    #footer-container {
        section#footer-top {
            ul { padding: 20px 20px;
                li{.column(12); border-top:1px solid @green; padding:20px 0;}                   
            }
        }
        section#footer-bottom { .row(12);
            ul {padding: 20px 10px;
                li{.column(6,12); margin-bottom:20px;}                  
            }
        }
    }   
}

/* ==========================================================================
Print styles
========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}