/* ==========================================================================
Defaults
========================================================================== */

html{
    height: 100%;
}

body  {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    min-height:100%;
    background-color: #fff;
    line-height:1.2;
    color:@darkblue;
}

.center {
    max-width: 1000px; 
    margin: 0 auto;     
    overflow: hidden;
}

/* ==========================================================================
Main header
========================================================================== */

#branding {
	.row(12); 
	background-color: #fff; 
	box-shadow: 0 0 20px 0 #666666; 
	height: 95px; 
	position: fixed; 
	z-index: 1001; 
	top:0;
    section{
    	.column(4,12); 
    	text-align:left;         
        ul.left, ul.right{
        	.row(12); 
        	position:relative; 
        	top:50px;
            li{
            	.column(4,12); 
                a{
                	.p18; 
                	border-bottom:1px solid @green; 
                	padding: 0 30px 4px 0px; 
                	text-transform:uppercase; 
                }
            }
        }               
        ul.right{float:right;
            li a{padding:0 0 4px 18px;}
        }
    }
    section.logo{.column(4); text-align:center;
        img {vertical-align:baseline;max-width:240px; height:auto; margin-top:20px;}
    }
}
#main{margin-top:120px;}

/* ==========================================================================
Main
========================================================================== */

.entry-header{
    text-align:center; 
    padding: 0 0 20px;
    h1 {
        .p72; 
        .ronda; 
        color:@green;
    }
    p{.p18; letter-spacing: 2px;}
}

.section-title {
    .column(12);
    .p26; 
    .ronda-regular; 
    border-bottom:1px solid @green;
    text-transform:none;
    margin-bottom: 40px;
    text-align: center;
    line-height: 1.4;
} 

.subtitle {
	.column(12);
	h3 {.column(12);}
}

.open {
	display:none;
	color:#ffffff;
	position:absolute;
	top:5px;
	right:0px;
	text-decoration:none;
	.ronda-regular;
}

.challenges{
	padding:0;
	margin-bottom: 30px;
	.clearfix;
	article{
		.column(4);
	}
	ul {		
		li{
			text-transform: uppercase;
			font-size: 12px;
			a{
				color: @darkblue;
				text-transform: uppercase;
				font-size: 12px;
				text-decoration: none;
				outline: none;
				line-height: 1.8;
				&:hover{
					color:darken(@darkblue, 40%);
					text-decoration: underline;
				}
			}
		}
	}
}

// Initial SVG transparancy
.opac{
	opacity : 0;
}

.svg-container{
	.column(12);
	text-align: center;
}
.infographic-svg {
    display: block;
    //left: 0;
    //position: absolute;
    //top: 0;
    width: 100%;
}

img{
	max-width: 100%;
	height: auto;
}

.key {.column(8);margin-top:30px;}

/* Popups */
.popup:focus {outline:none;}
.display {
	display:none;
	font-size:18px;
	position:absolute;
	//bottom:0;
	//top:0;
	padding:20px;
	box-shadow: 2px 3px 8px #222222;
	min-width: 150px;
	max-width:300px;
	background:#4A525A;
	h2{.ronda;font-size:20px;line-height:22px;color:#ffffff;font-weight: normal;}
	p{font-size:16px;line-height:18px;margin:0px; color:#fff; letter-spacing: 0;}
}

.close {
	position:absolute;
	top:0;
	right:0;
	padding:0 10px 10px 18px;
	text-decoration:none;
	color:#fff;
}
#channel-optimisation h2 {color:#C6D6A6;}
#website-performance h2 {color:#DDD69B;}
#market-understanding h2 {color:#B3B0C4;}
#conversion h2 {color:#BADBE5;}
#attribution h2 {color:#9AB8D5;}
#database-interrogation h2 {color:#F4D5AF;}
#modelling h2 {color:#E9BDD0;}
#personalisation h2 {color:#84A7B0;}

section.cta {
    .column(12);
    padding:40px 0;
    ul{.row(12);
        li{.column(4,12);
            text-align: center;
            .btn{width: 100%;.p18;}
            .line{
                border-bottom:1px solid #c6d5a4; 
                width:100%;
            }
        }
    }
}

.services-icons{	
	.column(12);
	float: none;
	display: inline-block;
	text-align: center;
	font-size: 0;
	margin-bottom: 40px;
	p{
		.p14;
	}
	li{
		width: 125px;
		text-align: center;
		display: inline-block;
		vertical-align: top;
		a{
			text-decoration: none;
		}
		.icon-wrap{
			width:84px;
			height: 84px;
		}
	}

	&.bigger li{
		width: 220px;
		margin: 0 20px;
		.icon-wrap{
			width: 150px;
			height: 150px;
		}
	}
}

.icon-wrap{
	background-color: @darkblue;
	.border-radius(50%);
	margin: 10px auto 10px;
	display: table;
	text-align: center;
	.middle{
		vertical-align: middle;
		display: table-cell;
	}
	.icon{
		display: inline-block;
	}
}

/* ==========================================================================
Footer
========================================================================== */

#footer-container {
	background: #fff url('../images/footer_bg.jpg'); 
	text-align:center; 
	padding:20px 0; 
	margin-top:30px;
    section#footer-top {
    	.row(12); 
    	border-bottom:1px solid @green; 
    	padding-bottom:20px;
        ul {
        	padding: 20px 100px;
            li{
            	.column(4,12);  
            	border-top:1px solid @green; 
            	padding:20px 0;
                img{margin:25px 0;}
                .copy{
                	min-height:180px; 
                	padding:10px;
                    b {.medium;}
                    img{
                    	max-width:100%; 
                    	height:auto;
                    }
                }
                .btn{width:140px;}                              
            }                       
        }
    }       
    section#footer-bottom {
    	.row(12); 
    	padding:30px 0;
		.footer_social img {padding-right:20px;}
        ul {padding: 20px 120px;
            li{.column(3,12);}                      
        }
    }
}