/*! normalize.css v1.1.2 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none;
}
/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/**
 * Address `font-family` inconsistency between `textarea` and other form
 * elements.
 */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}
/**
 * Address margins handled incorrectly in IE 6/7.
 */
body {
  margin: 0;
}
/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}
/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}
/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address font sizes and margins set differently in IE 6/7.
 * Address font sizes within `section` and `article` in Firefox 4+, Safari 5,
 * and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}
h6 {
  font-size: 0.67em;
  margin: 2.33em 0;
}
/**
 * Address styling not present in IE 7/8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}
/**
 * Address style set to `bolder` in Firefox 3+, Safari 4/5, and Chrome.
 */
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic;
}
/**
 * Address differences between Firefox and other browsers.
 * Known issue: no IE 6/7 normalization.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
/**
 * Address styling not present in IE 6/7/8/9.
 */
mark {
  background: #ff0;
  color: #000;
}
/**
 * Address margins set differently in IE 6/7.
 */
p,
pre {
  margin: 1em 0;
}
/**
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
/**
 * Address CSS quotes not supported in IE 6/7.
 */
q {
  quotes: none;
}
/**
 * Address `quotes` property not supported in Safari 4.
 */
q:before,
q:after {
  content: '';
  content: none;
}
/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* ==========================================================================
   Lists
   ========================================================================== */
/**
 * Address margins set differently in IE 6/7.
 */
dl,
menu,
ol,
ul {
  margin: 1em 0;
}
dd {
  margin: 0 0 0 40px;
}
/**
 * Address paddings set differently in IE 6/7.
 */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}
/**
 * Correct list images handled incorrectly in IE 7.
 */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}
/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden;
}
/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0;
}
/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0;
}
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}
/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}
/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}
/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}
/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}
/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}
/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}
/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}
/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}
/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  width: 100%;
  *zoom: 1;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
body:before,
body:after {
  content: " ";
  display: table;
}
body:after {
  clear: both;
}
/* ==========================================================================
Grid
========================================================================== */
/* ==========================================================================
Quick Reset
========================================================================== */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
ol,
form,
small,
label,
cite,
td,
br,
a {
  padding: 0;
  margin: 0;
  font-weight: normal;
  list-style: none;
  border: none;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
}
/* ==========================================================================
Variables 
========================================================================== */
/* ==========================================================================
Typography
========================================================================== */
/* Headings */
h1 {
  margin-top: 10px !important;
  margin-bottom: 20px !important;
  color: #d0dba9;
  font-size: 60px;
  font-family: 'ITCRonda', Arial, Helvetica, sans-serif;
  font-weight: bold;
  letter-spacing: 5px;
}
h2 {
  margin-top: 0px !important;
  margin-bottom: 10px !important;
  color: #ffffff;
  font-size: 25px;
  font-family: 'ITCRonda', Arial, Helvetica, sans-serif;
}
h3 {
  font-size: 28px;
  color: #ccd8e4;
  font-family: 'ITCRonda', Arial, Helvetica, sans-serif;
  margin-bottom: 10px !important;
}
h4,
h5,
h6 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
  color: #ccd8e4;
  font-family: 'ITCRonda', Arial, Helvetica, sans-serif;
}
/* Fonts */
.book {
  font-family: 'freight-sans-pro', Arial, sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
}
.medium {
  font-family: 'freight-sans-pro', Arial, sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
}
.ronda {
  font-family: 'ITCRonda', Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.ronda-regular {
  font-family: 'ITCRonda', Arial, Helvetica, sans-serif;
}
p {
  color: #84868d;
}
/* ==========================================================================
Mixin
========================================================================== */
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.border-box {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
}
.transition {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.pad {
  padding: 15px;
}
.fr {
  float: right;
  width: 49%;
}
.fl {
  float: left;
  width: 49%;
}
.circle {
  -moz-border-radius: 50%;
  /* Firefox */
  -webkit-border-radius: 50%;
  /* Safari, Chrome */
  border-radius: 50%;
  /* CSS3 */
  behavior: url(PIE.htc);
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-right: 10px;
}
.yellow {
  background: #dfdf5b;
  fill: #dfdf5b;
}
.olive {
  background: #8fc07a;
  fill: #8fc07a;
}
.pink {
  background: #c86fa6;
  fill: #c86fa6;
}
.aqua {
  background: #0d9cb0;
  fill: #0d9cb0;
}
.purple {
  background: #7173b6;
  fill: #7173b6;
}
.mustard {
  background: #e1a037;
  fill: #e1a037;
}
.royal {
  background: #2164af;
  fill: #2164af;
}
.green {
  background: #46b870;
  fill: #46b870;
}
.rust {
  background: #a85239;
  fill: #a85239;
}
.gold {
  background: #9c7d3e;
  fill: #9c7d3e;
}
.orange {
  background: #e86924;
  fill: #e86924;
}
.cyan {
  background: #50c7e2;
  fill: #50c7e2;
}
.violet {
  background: #8858a4;
  fill: #8858a4;
}
.silver {
  background: #5f6c86;
  fill: #5f6c86;
}
.darkgreen {
  background: #2c8058;
  fill: #2c8058;
}
.channel {
  background: #C6D6A6;
  fill: #C6D6A6;
  color: #C6D6A6;
}
.website {
  background: #DDD69B;
  fill: #DDD69B;
}
.market {
  background: #B3B0C4;
  fill: #B3B0C4;
}
.conversion {
  background: #BADBE5;
  fill: #BADBE5;
}
.attribution {
  background: #9AB8D5;
  fill: #9AB8D5;
}
.database {
  background: #F4D5AF;
  fill: #F4D5AF;
}
.modelling {
  background: #E9BDD0;
  fill: #E9BDD0;
}
.personalisation {
  background: #84A7B0;
  fill: #84A7B0;
}
.counting {
  background: #7173b6;
  fill: #7173b6;
}
.measuring {
  background: #e1a037;
  fill: #e1a037;
}
/* ==========================================================================
Defaults
========================================================================== */
html {
  min-height: 100%;
}
body {
  background: #323f49;
}
.center {
  max-width: 1400px;
  margin: 0 auto;
  position: relative;
}
.title {
  display: inline;
  float: left;
  width: 97.91666667%;
  margin: 0 1.04166667%;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.title h1 {
  display: inline;
  float: left;
  width: 97.91666667%;
  margin: 0 1.04166667%;
}
.title h2 {
  display: inline;
  float: left;
  width: 14.58333333%;
  margin: 0 1.04166667%;
}
.title .intro {
  display: inline;
  float: left;
  width: 81.25%;
  margin: 0 1.04166667%;
}
.title .intro p {
  font-size: 12px;
}
.subtitle {
  display: inline;
  float: left;
  width: 97.91666667%;
  margin: 0 1.04166667%;
}
.subtitle h3 {
  display: inline;
  float: left;
  width: 97.91666667%;
  margin: 0 1.04166667%;
}
.open {
  display: none;
  color: #ffffff;
  position: absolute;
  top: 5px;
  right: 0px;
  text-decoration: none;
  font-family: 'ITCRonda', Arial, Helvetica, sans-serif;
}
.border {
  border-bottom: 1px solid #84868d;
}
.challenges {
  display: inline;
  float: left;
  width: 97.91666667%;
  margin: 0 1.04166667%;
  padding: 0;
  margin-bottom: 30px;
  *zoom: 1;
}
.challenges:before,
.challenges:after {
  content: "";
  display: table;
}
.challenges:after {
  clear: both;
}
.challenges:before,
.challenges:after {
  content: " ";
  display: table;
}
.challenges:after {
  clear: both;
}
.challenges article {
  display: inline;
  float: left;
  width: 31.25%;
  margin: 0 1.04166667%;
}
.challenges ul li {
  color: #84868d;
  text-transform: uppercase;
  font-size: 14px;
}
.challenges ul li a {
  color: #84868d;
  text-transform: uppercase;
  font-size: 14px;
  text-decoration: none;
  outline: none;
}
.challenges ul li a:hover {
  color: #fff !important;
}
.opac {
  opacity: 0;
}
.svg-container {
  display: inline;
  float: left;
  width: 81.25%;
  margin: 0 1.04166667%;
  margin-left: 9.375%;
  text-align: center;
}
.infographic-svg {
  display: block;
  width: 100%;
}
.dots-container {
  display: inline;
  float: left;
  width: 97.91666667%;
  margin: 0 1.04166667%;
  text-align: left;
  position: relative;
  top: -41em;
}
.dots-container h3 {
  text-align: center;
}
.dots-container .tools,
.dots-container .methods {
  display: inline;
  float: left;
  width: 47.91666667%;
  margin: 0 1.04166667%;
}
.dots-container .tools .dots-col,
.dots-container .methods .dots-col {
  display: inline;
  float: left;
  width: 47.91666667%;
  margin: 0 1.04166667%;
  padding: 0 10px 0 10px;
}
.dots-container .tools .dots-col ul li,
.dots-container .methods .dots-col ul li {
  width: 100%;
  display: block;
  height: auto;
  margin-bottom: 15px;
  color: #84868d;
  text-transform: uppercase;
  font-size: 12px;
}
.dots-container .tools .dots-col ul li .dots,
.dots-container .methods .dots-col ul li .dots {
  width: 37%;
  float: right;
}
.dots-container .tools .dots-col ul li p,
.dots-container .methods .dots-col ul li p {
  width: 63%;
  float: left;
}
img {
  max-width: 100%;
  height: auto;
}
.key {
  display: inline;
  float: left;
  width: 64.58333333%;
  margin: 0 1.04166667%;
  margin-top: 30px;
}
/* Popups */
.popup:focus {
  outline: none;
}
.display {
  display: none;
  font-size: 18px;
  position: absolute;
  padding: 20px;
  box-shadow: 2px 3px 8px #222222;
  color: #84868d;
  min-width: 150px;
  max-width: 350px;
  background: #4A525A;
}
.display h2 {
  font-size: 20px;
  line-height: 22px;
  color: #ffffff;
}
.display p {
  font-size: 16px;
  line-height: 18px;
  color: #ccd8e4;
  margin: 0px;
}
.close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 10px 10px 18px;
  color: #ccd8e4;
  text-decoration: none;
}
#channel-optimisation h2 {
  color: #C6D6A6;
}
#website-performance h2 {
  color: #DDD69B;
}
#market-understanding h2 {
  color: #B3B0C4;
}
#conversion h2 {
  color: #BADBE5;
}
#attribution h2 {
  color: #9AB8D5;
}
#database-interrogation h2 {
  color: #F4D5AF;
}
#modelling h2 {
  color: #E9BDD0;
}
#personalisation h2 {
  color: #84A7B0;
}
/* Media Queries ====================================================== */
@media screen and (max-width: 1400px) {
  .dots-container {
    top: -39em;
  }
}
@media screen and (max-width: 1340px) {
  .dots-container {
    top: -37em;
  }
}
@media screen and (max-width: 1260px) {
  .dots-container {
    top: -35em;
  }
}
@media screen and (max-width: 1185px) {
  .dots-container {
    top: -33em;
  }
}
@media screen and (max-width: 1120px) {
  .dots-container {
    top: -30em;
  }
}
@media screen and (max-width: 1020px) {
  .dots-container {
    top: -27em;
  }
}
@media screen and (max-width: 1000px) {
  .dots-container {
    display: inline;
    float: left;
    width: 97.91666667%;
    margin: 0 1.04166667%;
    top: -25em;
    background: #323f49;
  }
  .dots-container .tools,
  .dots-container .methods {
    display: inline;
    float: left;
    width: 97.91666667%;
    margin: 0 1.04166667%;
  }
  .dots-container .tools .dots-col,
  .dots-container .methods .dots-col {
    display: inline;
    float: left;
    width: 47.91666667%;
    margin: 0 1.04166667%;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 920px) {
  .dots-container {
    top: -25em;
  }
}
@media screen and (max-width: 900px) {
  .challenges article {
    display: inline;
    float: left;
    width: 97.91666667%;
    margin: 0 1.04166667%;
  }
  .title {
    display: inline;
    float: left;
    width: 97.91666667%;
    margin: 0 1.04166667%;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
  .title h1 {
    display: inline;
    float: left;
    width: 97.91666667%;
    margin: 0 1.04166667%;
  }
  .title h2 {
    display: inline;
    float: left;
    width: 97.91666667%;
    margin: 0 1.04166667%;
  }
  .title .intro {
    display: inline;
    float: left;
    width: 97.91666667%;
    margin: 0 1.04166667%;
  }
  .dots-container {
    display: inline;
    float: left;
    width: 97.91666667%;
    margin: 0 1.04166667%;
    top: -23em;
  }
  .dots-container .tools,
  .dots-container .methods {
    display: inline;
    float: left;
    width: 97.91666667%;
    margin: 0 1.04166667%;
  }
  .dots-container .tools .dots-col,
  .dots-container .methods .dots-col {
    display: inline;
    float: left;
    width: 47.91666667%;
    margin: 0 1.04166667%;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 840px) {
  .dots-container {
    top: -20em;
  }
  .key {
    display: inline;
    float: left;
    width: 97.91666667%;
    margin: 0 1.04166667%;
    margin-top: 30px;
  }
}
@media screen and (max-width: 760px) {
  .dots-container {
    top: -17em;
  }
  .key {
    display: inline;
    float: left;
    width: 97.91666667%;
    margin: 0 1.04166667%;
    margin-top: 30px;
  }
}
@media screen and (max-width: 630px) {
  .dots-container {
    top: -14em;
  }
  .key {
    display: inline;
    float: left;
    width: 97.91666667%;
    margin: 0 1.04166667%;
    margin-top: 30px;
  }
}
@media screen and (max-width: 540px) {
  .dots-container {
    display: inline;
    float: left;
    width: 97.91666667%;
    margin: 0 1.04166667%;
    top: -11em;
  }
  .dots-container .tools,
  .dots-container .methods {
    display: inline;
    float: left;
    width: 97.91666667%;
    margin: 0 1.04166667%;
  }
  .dots-container .tools .dots-col,
  .dots-container .methods .dots-col {
    display: inline;
    float: left;
    width: 97.91666667%;
    margin: 0 1.04166667%;
    margin-bottom: 30px;
  }
  .key {
    display: inline;
    float: left;
    width: 97.91666667%;
    margin: 0 1.04166667%;
    margin-top: 30px;
  }
}
@media screen and (max-width: 430px) {
  .dots-container {
    top: -9em;
  }
}
@media screen and (max-width: 350px) {
  .dots-container {
    top: -7em;
  }
}
/* ==========================================================================
Visible/hidden classes
========================================================================== */
@-ms-viewport {
  width: device-width;
}
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
  display: none !important;
}
@media only screen and (max-width: 1200px) {
  .visible-lg {
    display: block !important;
  }
  table.visible-lg {
    display: table;
  }
  tr.visible-lg {
    display: table-row !important;
  }
  th.visible-lg,
  td.visible-lg {
    display: table-cell !important;
  }
}
@media only screen and (max-width: 992px) {
  .visible-md {
    display: block !important;
  }
  table.visible-md {
    display: table;
  }
  tr.visible-md {
    display: table-row !important;
  }
  th.visible-md,
  td.visible-md {
    display: table-cell !important;
  }
}
@media only screen and (max-width: 768px) {
  .visible-sm {
    display: block !important;
  }
  table.visible-sm {
    display: table;
  }
  tr.visible-sm {
    display: table-row !important;
  }
  th.visible-sm,
  td.visible-sm {
    display: table-cell !important;
  }
}
@media only screen and (max-width: 480px) {
  .visible-xs {
    display: block !important;
  }
  table.visible-xs {
    display: table;
  }
  tr.visible-xs {
    display: table-row !important;
  }
  th.visible-xs,
  td.visible-xs {
    display: table-cell !important;
  }
}
@media only screen and (max-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}
@media only screen and (max-width: 992px) {
  .hidden-md {
    display: none !important;
  }
}
@media only screen and (max-width: 768px) {
  .hidden-sm {
    display: none !important;
  }
}
@media only screen and (max-width: 480px) {
  .hidden-xs {
    display: none !important;
  }
}
/* ==========================================================================
Large
========================================================================== */
/* ==========================================================================
Medium
========================================================================== */
@media only screen and (max-width: 992px) {
  .center {
    padding-left: 10px;
    padding-right: 10px;
  }
}
/* ==========================================================================
Small
========================================================================== */
/* ==========================================================================
Extra Small
========================================================================== */
/* ==========================================================================
Print styles
========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links for images, or javascript/internal links
     */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
