
.icon-platform {
	background-image: url('png/platform.png');
	background-repeat: no-repeat;
}

.icon-performance {
	background-image: url('png/performance.png');
	background-repeat: no-repeat;
}

.icon-cro {
	background-image: url('png/cro.png');
	background-repeat: no-repeat;
}

.icon-contents {
	background-image: url('png/contents.png');
	background-repeat: no-repeat;
}

.icon-campaign {
	background-image: url('png/campaign.png');
	background-repeat: no-repeat;
}

.icon-brand {
	background-image: url('png/brand.png');
	background-repeat: no-repeat;
}

.icon-swat {
	background-image: url('png/swat.png');
	background-repeat: no-repeat;
}

.icon-pathways {
	background-image: url('png/pathways.png');
	background-repeat: no-repeat;
}

.icon-engagement {
	background-image: url('png/engagement.png');
	background-repeat: no-repeat;
}

.icon-ux {
	background-image: url('png/ux.png');
	background-repeat: no-repeat;
}