/* ==========================================================================
Grid
========================================================================== */

	// Specify the number of columns and set column and gutter widths
	@columns: 12;
	@column-width: 60;
	@gutter-width: 20;

	// Uncomment the definition below for a percentage-based layout
	@total-width: 100%;
	
/* ==========================================================================
Quick Reset
========================================================================== */

	body, h1, h2, h3, h4, h5, h6, p, ul, li, ol, form, small, label, cite, td, br,a {padding:0;margin:0;font-weight:normal;list-style:none; border:none;}
	// apply a natural box layout model to all elements 
	*, *:before, *:after {
	    .border-box;
    }

/* ==========================================================================
Variables 
========================================================================== */

	// Color variables
	@bg: #323F49;
	@default: #84868d;
	@delineogreen: #D0DBA9;
	@titles:#CCD8E4;

	@yellow: #DFDF5B;
	@olive: #8FC07A;
	@pink: #C86FA6;
	@aqua: #0D9CB0;
	@purple: #7173B6;
	@mustard: #E1A037;
	@royal: #2164AF;
	@green: #46B870;
	@rust: #A85239;
	@gold: #9C7D3E;
	@orange: #E86924;
	@cyan: #50C7E2;
	@violet: #8858A4;
	@silver: #5F6C86;
	@darkgreen: #2C8058;

/* ==========================================================================
Typography
========================================================================== */	
	
	/* Headings */
	h1 {
		margin-top:10px !important;
		margin-bottom:20px !important;
		color:@delineogreen;
		font-size:60px;
		.ronda;
		letter-spacing:5px;
	}
	h2 {
		margin-top:0px !important;
		margin-bottom:10px !important;
		color:#ffffff;
		font-size:25px;
		.ronda-regular;
	}
	h3 {
		font-size:28px;
		color:@titles;
		.ronda-regular;
		margin-bottom:10px !important;
	}
	h4, h5, h6  {
		margin-top:10px !important;
		margin-bottom:10px !important;
		color:@titles;
		.ronda-regular;
	}

	/* Fonts */
    .book{font-family:'freight-sans-pro', Arial, sans-serif; font-weight:400; letter-spacing:2px;}
    .medium {font-family:'freight-sans-pro', Arial, sans-serif; font-weight:500; letter-spacing:2px;}
    .ronda{font-family:'ITCRonda',Arial, Helvetica, sans-serif; font-weight:bold;}  
    .ronda-regular{font-family:'ITCRonda',Arial, Helvetica, sans-serif;}

	p {color:@default;}
	

/* ==========================================================================
Mixin
========================================================================== */
	// Clearfix: contain floats
	.clearfix {
		*zoom: 1;
		&:before, &:after {
			content: " ";
			display: table;
		}
		&:after {
			clear: both;
		} 
	}
	
	// border box
	.border-box {
		box-sizing:border-box;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		-o-box-sizing:border-box;
		-ms-box-sizing:border-box;
	}	

	// border radius 
	.border-radius(@radius: 5px) {
		-moz-border-radius: @radius; /* Firefox */  
		-webkit-border-radius: @radius; /* Safari, Chrome */  
		border-radius: @radius; /* CSS3 */
		behavior: url(PIE.htc);		
	}	

	// opacity
	.opacity(@color, @alpha) {
		@acolor	: hsla(hue(@color), saturation(@color), lightness(@color), @alpha);
		@iecolor : argb(@acolor);

		background-color	: @color; /* fallback color */
		background-color	: @acolor;

		/* IE */
		background-color	: transparent\11;
		filter	: ~"progid:DXImageTransform.Microsoft.gradient(startColorstr= @{iecolor}, endColorstr= @{iecolor})";
		zoom:1;
	}

	//transition
	.transition{
		-webkit-transition: all 0.5s ease-in-out;
		-moz-transition: all 0.5s ease-in-out;
		-ms-transition: all 0.5s ease-in-out;
		-o-transition: all 0.5s ease-in-out;
		transition: all 0.5s ease-in-out;
	}	

	.pad{
		padding: 15px;
	}

    .fr{float: right; width:49%;}
    .fl{float: left; width:49%;}

    .circle{
    	.border-radius(50%); 
    	width: 10px; 
    	height: 10px; 
    	display: inline-block; 
    	margin-right: 10px;
    }

    //Problems
    .yellow{background: @yellow; fill: @yellow;}
	.olive{background: @olive; fill: @olive;}
	.pink{background: @pink; fill: @pink;}
	.aqua{background: @aqua; fill: @aqua;}
	.purple{background: @purple; fill: @purple;}
	.mustard{background: @mustard; fill: @mustard;}
	.royal{background: @royal; fill: @royal;}
	.green{background: @green; fill: @green;}
	.rust{background: @rust; fill:@rust;}
	.gold{background: @gold; fill:@gold;}
	.orange{background: @orange; fill:@orange;}
	.cyan{background: @cyan; fill:@cyan;}
	.violet{background: @violet; fill:@violet;}
	.silver{background: @silver; fill:@silver;}
	.darkgreen{background: @darkgreen; fill:@darkgreen;}

	//ROI
	.channel{background:#C6D6A6; fill:#C6D6A6; color:#C6D6A6;}
	.website{background:#DDD69B; fill:#DDD69B;}
	.market{background:#B3B0C4; fill:#B3B0C4;}
	.conversion{background:#BADBE5; fill:#BADBE5;}
	.attribution{background:#9AB8D5; fill:#9AB8D5;}
	.database{background:#F4D5AF; fill:#F4D5AF;}
	.modelling{background:#E9BDD0; fill:#E9BDD0;}
	.personalisation{background:#84A7B0; fill:#84A7B0;}

	.counting{background:@purple; fill:@purple;}
	.measuring{background:@mustard; fill:@mustard;}


/* ==========================================================================
General 
========================================================================== */
