/* ==========================================================================
Visible/hidden classes
========================================================================== */

@-ms-viewport {
    width: device-width;
}
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
    display: none !important;
}

@media only screen and (max-width : 1200px) {
    .visible-lg {
        display: block !important;
    }
    table.visible-lg {
        display: table;
    }
    tr.visible-lg {
        display: table-row !important;
    }
    th.visible-lg,
    td.visible-lg {
        display: table-cell !important;
    }
}

@media only screen and (max-width : 992px) {
    .visible-md {
        display: block !important;
    }
    table.visible-md {
        display: table;
    }
    tr.visible-md {
        display: table-row !important;
    }
    th.visible-md,
    td.visible-md {
        display: table-cell !important;
    }
}

@media only screen and (max-width : 768px) {
    .visible-sm {
        display: block !important;
    }
    table.visible-sm {
        display: table;
    }
    tr.visible-sm {
        display: table-row !important;
    }
    th.visible-sm,
    td.visible-sm {
        display: table-cell !important;
    }
}
@media only screen and (max-width : 480px) {
    .visible-xs {
        display: block !important;
    }
    table.visible-xs {
        display: table;
    }
    tr.visible-xs {
        display: table-row !important;
    }
    th.visible-xs,
    td.visible-xs {
        display: table-cell !important;
    }
}

@media only screen and (max-width : 1200px) {
    .hidden-lg {
        display: none !important;
    }
}

@media only screen and (max-width : 992px) {
    .hidden-md {
        display: none !important;
    }
}

@media only screen and (max-width : 768px) {
    .hidden-sm {
        display: none !important;
    }
}

@media only screen and (max-width : 480px) {
    .hidden-xs {
        display: none !important;
    }
}

/* ==========================================================================
Large
========================================================================== */

@media only screen and (max-width : 1200px) {
}

/* ==========================================================================
Medium
========================================================================== */

@media only screen and (max-width : 992px) {
    .center{
        padding-left:10px;
        padding-right:10px;
    }    
}

/* ==========================================================================
Small
========================================================================== */

@media only screen and (max-width : 768px) {
   
}

/* ==========================================================================
Extra Small
========================================================================== */
@media only screen and (max-width : 480px) {

}

/* ==========================================================================
Print styles
========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}