/* ==========================================================================
Defaults
========================================================================== */

html{
	min-height: 100%;
}

body {	
	background: @bg;
}

.center {
	max-width: 1400px;
	margin: 0 auto;
	position: relative;
}

.title {
	.column(12);
	h1 {.column(12);}
	h2 {.column(2);}
	.intro {.column(10);
		p {font-size:12px;}
	}
	padding-bottom:20px;
	margin-bottom:20px;
}

.subtitle {
	.column(12);
	h3 {.column(12);}
}

.open {
	display:none;
	color:#ffffff;
	position:absolute;
	top:5px;
	right:0px;
	text-decoration:none;
	.ronda-regular;
}

.border {
	border-bottom: 1px solid @default;
}

.challenges{
	.column(12);
	padding:0;
	margin-bottom: 30px;
	.clearfix;
	article{
		.column(4);
	}
	ul {		
		li{
			color: @default;
			text-transform: uppercase;
			font-size: 14px;
			a{
				color: @default;
				text-transform: uppercase;
				font-size: 14px;
				text-decoration: none;
				outline: none;
				&:hover{
					color:#fff;
				}
			}
		}
	}
}

// Initial SVG transparancy
.opac{
	opacity : 0;
}

.svg-container{
	.column(10);
	.push(1);
	//position: relative;
	//width: 80%;
	//margin:0 auto;
	text-align: center;
	//height: 500px;
}
.infographic-svg {
    display: block;
    //left: 0;
    //position: absolute;
    //top: 0;
    width: 100%;
}


.dots-container{
	.column(12);
	text-align: left;
	position: relative;
  	top: -41em;
	h3 {text-align:center;
	}
	.tools, .methods {.column(6);
		.dots-col {.column(6);padding:0 10px 0 10px;
				ul {		
					li{
						width:100%;
						display:block;
						height:auto;
						margin-bottom:15px;
						color: @default;
						text-transform: uppercase;
						font-size: 12px;
						.dots {
							//fill-opacity:0.2;
							width:37%;
							float:right;
						}
						p {width:63%;float:left;}
					}
				}
		}
	}
}
img{
	max-width: 100%;
	height: auto;
}

.key {.column(8);margin-top:30px;}

/* Popups */
.popup:focus {outline:none;}
.display {
	display:none;
	font-size:18px;
	position:absolute;
	//bottom:0;
	//top:0;
	padding:20px;
	box-shadow: 2px 3px 8px #222222;
	color:@default;
	min-width: 150px;
	max-width:350px;
	background:#4A525A;
}
.display h2{font-size:20px;line-height:22px;color:#ffffff;}
.display p{font-size:16px;line-height:18px;color:@titles;margin:0px;}
.close {position:absolute;top:0;right:0;padding:0 10px 10px 18px;color:@titles;text-decoration:none;}
#channel-optimisation h2 {color:#C6D6A6;}
#website-performance h2 {color:#DDD69B;}
#market-understanding h2 {color:#B3B0C4;}
#conversion h2 {color:#BADBE5;}
#attribution h2 {color:#9AB8D5;}
#database-interrogation h2 {color:#F4D5AF;}
#modelling h2 {color:#E9BDD0;}
#personalisation h2 {color:#84A7B0;}


/* Media Queries ====================================================== */

@media screen and (max-width: 1400px) {

	.dots-container{
	  	top: -39em;
	}

}

@media screen and (max-width: 1340px) {

	.dots-container{
	  	top: -37em;
	}

}

@media screen and (max-width: 1260px) {

	.dots-container{
	  	top: -35em;
	}

}

@media screen and (max-width: 1185px) {

	.dots-container{
	  	top: -33em;
	}

}

@media screen and (max-width: 1120px) {

	.dots-container{
	  	top: -30em;
	}

}

@media screen and (max-width: 1020px) {

	.dots-container{
	  	top: -27em;
	}

}

@media screen and (max-width: 1000px) {

	.dots-container{
		.column(12);
	  	top: -25em;
	  	background:@bg;
		.tools, .methods {.column(12);
			.dots-col {.column(6);margin-bottom:30px;}
		}
	}

}

@media screen and (max-width: 920px) {

	.dots-container{
	  	top: -25em;
	}

}

@media screen and (max-width: 900px) {

	.challenges{
		article{
			.column(12);
		}

	}

	.title {
		.column(12);
		h1 {.column(12);}
		h2 {.column(12);}
		.intro {.column(12);}
		padding-bottom:20px;
		margin-bottom:20px;
	}

	.dots-container{
		.column(12);
	  	top: -23em;
		.tools, .methods {.column(12);
			.dots-col {.column(6);margin-bottom:30px;}
		}
	}

}

@media screen and (max-width: 840px) {

	.dots-container{
	  	top: -20em;
	}
	.key {.column(12);margin-top:30px;}

}

@media screen and (max-width: 760px) {

	.dots-container{
	  	top: -17em;
	}
	.key {.column(12);margin-top:30px;}

}

@media screen and (max-width: 630px) {

	.dots-container{
	  	top: -14em;
	}
	.key {.column(12);margin-top:30px;}

}

@media screen and (max-width: 540px) {

	.dots-container{
		.column(12);
	  	top: -11em;
		.tools, .methods {.column(12);
			.dots-col {.column(12);margin-bottom:30px;}
		}
	}
	.key {.column(12);margin-top:30px;}

}

@media screen and (max-width: 430px) {

	.dots-container{
	  	top: -9em;
	}

}

@media screen and (max-width: 350px) {

	.dots-container{
	  	top: -7em;
	}

}